@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  padding: 10px;
  transform: rotate(-45deg);
  --size: 12rem;
  --fg: #fff;
  --bg: transparent;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, #15253A 95%, transparent 0 99.9%, transparent 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
}

/* demo */
body {
  margin: 0;
}

.scroll-bar {
  position: relative;
}

.scroll-bar div {
  position: fixed;
  left: 31vw;
}

.container {
  display: flex;
}

.progress-container{
  top: 10rem;
  position: relative;
  width: 16rem;
  height: 16rem;
  background-color: #15253A;
  border-radius: 50%;
}

#progressbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;right: 0;margin: auto;
}